@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1648272690638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yongyan:before {
  content: "\f00f5";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-fire:before {
  content: "\e729";
}

.icon-guanyuwomen:before {
  content: "\e61e";
}

.icon-shouye:before {
  content: "\e653";
}

.icon-guidangxiangmu:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-tongjitu:before {
  content: "\e602";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-riqi:before {
  content: "\e64e";
}

.icon-zuixingengxin:before {
  content: "\e61f";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-ziyuanku:before {
  content: "\e61a";
}

.icon-24gf-hourglass:before {
  content: "\eb40";
}

.icon-zhaopianxuanzhong:before {
  content: "\e802";
}

.icon-yanjing:before {
  content: "\e679";
}

.icon-fenlei:before {
  content: "\e6c6";
}

.icon-quanpingmu:before {
  content: "\e6dd";
}

.icon-pinglun:before {
  content: "\e687";
}

.icon-liuyanban:before {
  content: "\e610";
}

.icon-email-fill:before {
  content: "\e77e";
}

.icon-biaoqian:before {
  content: "\e606";
}

.icon-biaoqian1:before {
  content: "\e611";
}

.icon-houtaiguanli-jifenguanli:before {
  content: "\e636";
}

.icon-gailan:before {
  content: "\e607";
}

